#### 2.3.  Анализ рынка недвижимостис
Ответьте на несколько вопросов:
1 В каком диапазоне изменяются стоимости недвижимости?
2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?
3 Как много домов с разными этажами в данных?
4 Насколько хорошие состояния у домов в данных?
5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [ ]:
df.head(2)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639

In [ ]:
df["price"] # все цены

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64

In [ ]:
df["price"].min() # минимальная стоимость

75000.0

In [ ]:
df["price"].max() # максимальная стоимость

7700000.0

In [ ]:
df["sqft_living"].mean() # среднее значение жилой площади

2079.8997362698374

In [ ]:
df["sqft_lot"].mean() # среднее значение общей площади

15106.967565816869

In [ ]:
livingMean = df["sqft_living"].mean()
lotMean = df["sqft_lot"].mean()
livingMean/lotMean*100 # доля в процентах жилой площади от всей площади по всем домам

13.76781757959227

In [ ]:
df["floors"].value_counts() # домa с разными этажами в данных

floors
1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: count, dtype: int64

In [ ]:
df["condition"].value_counts() # Насколько хорошие состояния у домов в данных

condition
3    14031
4     5679
5     1701
2      172
1       30
Name: count, dtype: int64

In [ ]:
df["yr_built"].min() # дата постройки первого дома

1900

In [ ]:
df["yr_built"].max() # Дата постройки последнего дома

2015